@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    background-color: rgb(240, 240, 240);
    font-family: 'Roboto',sans-serif;
    
}
header{
    background-color: rgb(60, 84, 239);
    height: 100px;
    margin: 0;
    padding: 0;
}

.start h1,h3{
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
}

.mid{
    color: rgb(60, 84, 239);;
}

.mid2{
    background-color: rgb(217, 217, 217);
    width: 75%;
    height: 45px;
}

.mid2 p{
    align-items: center;
    justify-content: center;
    padding-top: 12px;
}

.mid3{
    color: rgb(60, 84, 239);
}

.mid4 h3,p{
    color: black;
    text-align: left;
    padding-left: 8px;
}

.mid4{
    border: 0.5px solid black;
}

.contact h2{
    color: rgb(60, 84, 239);
    text-align: center;
}

.name{
    text-align: center;
    
}

.button{
    color: white;
    background-color:rgb(60, 84, 239);
    width: 270px;
    height: 30px;
    border: none;
}

.last{
    text-align: center;
}